<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Home</title>
</head>

<nav class="navbar navbar-dark bg-dark navbar-fixed-top">
    <a class="navbar-brand" href="#">Diabetic Disease Diagnosis</a>
    <a class="navbar-brand" href="/main">Home</a>
    <a class="navbar-brand" href="/about">About</a>
    <a class="navbar-brand" href="/decisiontree">Decision Tree</a>
    <a class="navbar-brand" href="/knn">KNN</a>
    <a class="navbar-brand" href="/mlp">MLP</a>
    <a class="navbar-brand" href="/randomforest">RandomForest</a>
    <a class="navbar-brand" href="/svm">Genetic Algorithm</a>
   
</nav>


<body>
    <marquee></marquee>
    <div class="container-fluid" style="background-color: rgb(192, 178, 225);">
        <div class="col-lg-12">
            <h2 style="text-align: center; color: #343a40; margin-bottom: 20px;">🩺 Diabetes Risk Assessment Form</h2>
<form action="{{ url_for('result') }}" method="post">
                <form action="{{ url_for('result') }}" method="post">
                    <br>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <label for=" pregnant">Number of times pregnant</label><br/>
                                <input type="text" class="form-control" id="Number of times pregnant" name="Number of times pregnant" placeholder="Enter how many number of times pregnant"><br/>
                                <label for="Plasma glucose concentration ">Plasma glucose concentration a 2 hours in an oral glucose tolerance test</label><br/>
                                <input type="text" class="form-control" id="Plasma glucose concentration a 2 hours in an oral glucose tolerance test" name="Plasma glucose concentration a 2 hours in an oral glucose tolerance test" placeholder="Enter your Plasma glucose concentration value"><br/>
                        
                              <label for="Diastolic blood pressure ">Diastolic blood pressure (mm Hg)</label><br/>
                                <input type="text" class="form-control" id="Diastolic blood pressure (mm Hg)" name="Diastolic blood pressure (mm Hg)" placeholder=" Enter your Diastolic blood pressure value in mm Hg"><br/>
                        
                              <label for="Triceps skin fold thickness (mm)">Triceps skin fold thickness (mm)</label><br/>
                                <input type="text" class="form-control" id="Triceps skin fold thickness (mm)" name="Triceps skin fold thickness (mm)" placeholder=" Enter Your Triceps skin fold thickness value in mm"><br/>
                        
                              <label for="2-Hour serum insulin ">2-Hour serum insulin (mu U/ml)</label><br/>
                                <input type="text" class="form-control" name="2-Hour serum insulin (mu U/ml)" placeholder="Enter your 2-Hour serum insulin value in mu U/ml"><br/>
                        
                              <label for="Body mass index ">Body mass index (weight in kg/(height in m)^2)</label><br/>
                                <input type="text" class="form-control" name="Body mass index (weight in kg/(height in m)^2)" placeholder="Enter Your Body Mass Index Value"><br/>
                        
                              <label for="Diabetes pedigree function">Diabetes pedigree function</label><br/>
                                <input type="text" class="form-control" id="Diabetes pedigree function" name="Diabetes pedigree function" placeholder=" Enter your Diabetes pedigree function value"><br/>
                                
                                <label for="AGE">Age (years)</label><br/>
                                <input type="text" class="form-control" id="Age (years)" name="Age (years)" placeholder="Your age..">
                              
                               
                        
            <br/>
            <div style="text-align: center; margin-top: 20px;">
                <button type="submit" class="btn btn-dark" style="
                    background-color: #343a40; 
                    color: white; 
                    font-size: 22px; 
                    font-weight: bold;
                    padding: 15px 30px; 
                    border-radius: 10px; 
                    border: none; 
                    cursor: pointer; 
                    transition: all 0.3s ease-in-out;"
                    onmouseover="this.style.backgroundColor='#212529'; this.style.transform='scale(1.1)';"
                    onmouseout="this.style.backgroundColor='#343a40'; this.style.transform='scale(1)';">
                    🚀 Submit
                </button>
            </div>
            
            
                </form>
            </div>
			<div class="col-lg-4 col-md-4 d-flex justify-content-center align-items-center text-center" style="margin-top: 5px;">
                <div class="image">
                    <img src="{{ user_image }}" alt="User Image" class="one">
                </div>
            </div>
            
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
<style>
body {
    background-color:rgb(238, 236, 162);
}

.col-lg-4 {
    color: #ffffff;
}
img.one {
  height: 100%;
  width: 150%;
}
</style>

</html>