<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Home</title>
</head>

<nav class="navbar navbar-dark bg-dark navbar-fixed-top">
    <a class="navbar-brand" href="#">Diabetic Disease Diagnosis</a>
    <a class="navbar-brand" href="/decisiontree">Decision Tree</a>
    <a class="navbar-brand" href="/knn">KNN</a>
    <a class="navbar-brand" href="/mlp">MLP</a>
    <a class="navbar-brand" href="/randomforest">RandomForest</a>
    <a class="navbar-brand" href="/svm">Genetic Algorithm</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/main">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
        </ul>
    </div>
</nav>

<body>
    <marquee></marquee>
    <div class="container-fluid" style="background-color: cyan;">
        <div class="col-lg-12">
                
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
							<h1 style="color:white;">Take action against prediabetes</h1>
							<h4>Small changes in your diet and exercise can make a big difference with prediabetes. Assess your risk and change your course today.
							</h4>
							<h1 style="color:white;">Try something different</h1>
							<h4>From diet and exercise to treatment and care, there are tons of practical things you can do every day to make your life easier. Here are just a few.</h4>
							<h1 style="color:white;">Eat to thrive</h1>
							<h4>Living with diabetes doesn’t mean you’re done eating foods you love. Start planning your meals and making healthy food choices and you can live the life you want.</h4>
							</div>
			<div class="col-lg-4 col-md-4" >
		       <div class="image">
			   <img src="{{ user_image }}" alt="User Image" class="one">
			   </div>
			</div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
<style>
body {
    background-color:coral;
}

.col-lg-4 {
    color: #ffffff;
}
img.one {
  height: 40%;
  width: 150%;
}
</style>

</html>